<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Huguo</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>calletaxiDriver</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb538023913054921</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20180718</string>
	<key>FacebookAppID</key>
	<string>538023913054921</string>
	<key>FacebookDisplayName</key>
	<string>CalletaxiDriver</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The app may use your camera to upload the profile picture.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Application would like to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Application would like to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application would like to use your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Upload a picture from your photo library to add the profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>AvenirLTStd-Black.otf</string>
		<string>AVENIRLTSTD-BOOK.OTF</string>
		<string>AVENIRLTSTD-LIGHT.OTF</string>
		<string>AVENIRLTSTD-BOOKOBLIQUE.OTF</string>
		<string>AVENIRLTSTD-MEDIUM.OTF</string>
		<string>AVENIRLTSTD-OBLIQUE.OTF</string>
		<string>AVENIRLTSTD-MEDIUMOBLIQUE.OTF</string>
		<string>AVENIRLTSTD-ROMAN.OTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
